html { 
     height: 1400px;
     /*background-color: #2ab14a;*/
  background-image: linear-gradient(#2ab14a,white 65%);
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
       font-family: 'Lato', sans-serif;
    font-weight: 400;
    position: absolute;

 
}

/*dealing with row spacer */
div.spacer{
    height: 100px;
}
/* dealing with the row with the hamburger*/
div#hamburger img{
    position: fixed;
    left: 15px;
    top: 10px;
    z-index: 3;
}

/*dealing with black bar behind navigation*/
div#bar{
    position: fixed;
    top: 0px;
    left: 0px;
     width: 100%; 
   width: 100vw;
    height: 50px;
  background-color: #404041;
    z-index: 2;
}
/*dealing with the nav */
div#nav{
    position: fixed;
    top: 0px;
    left: -25px;
    z-index: 2;
    backface-visibility: hidden;
}
div#nav ul{
    background-color: rgba(255,255,255, .6);
    padding-top: 10px;
    padding-right: 10px;
}
div#nav ul img{
    padding-bottom: 7px;
}
div#nav li{
    padding-bottom: 7px;
    list-style: none;
    color: white;
    text-align: left;
    position: relative;
    left: 0%;
}
div#nav li a{
    color: black;
}
div#nav li a:hover{
    
}
/* dealing with real content*/
div#bodyText{
      width: 100%;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
}
div#bodyText h1{
    color: white;
    text-align: center;
    font-size: 36pt;
    font-weight: 300pt;
    position: relative;
    top: 100px;
}
div#bodyText p{
    width: 50%;
    position: relative;
    left: 25%;
    top: 150px;
    color: white;
    font-size: 13pt;
}
/*images section*/
div#imgs{
     width: 100%;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 400px;
    padding-left: 50px;
    padding-right: 20px;
}
div.imgbox{
    width: 13%;
    position: relative;
    left: 22.5%;
    float: left;
    margin-right: 3%;
    
}
div.imgbox img{
    width: 100%;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
     box-shadow: 5px 5px 8px #404041;
}
div.imgbox img:hover{
      -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
div.imgbox p.title{
    font-weight: 600;
}
div.imgbox p{
    text-align: center;
    color: #404041;
    font-size: 13pt;
    margin-bottom: 2px;
}
/*for medium devices*/
@media (max-width: 1093px) and (min-width: 750px){
    div#bodyText p{
        position: relative;
        top: 150px;
    }
    div#imgs{
        position: absolute;
        top: 480px;
    }
}
/*FOR SMALL DEVICES*/
@media (max-width: 749px) and (min-width: 535px){
    html { 
     height: 1300px;
     /*background-color: #2ab14a;*/
        background-image: linear-gradient(#2ab14a,white 65%);
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
    div#bodyText p{
        width: 70%;
        position: relative;
        left: 15%;
        top: 120px;
        font-size: 14pt;
    }
    div#imgs{
        position: absolute;
        top: 480px;
    }
    div.imgbox{
        width: 33%;
        position: relative;
        left: 30%;
        float: none;
    }
}
/*FOR MOBILE DEVICES*/

@media (max-width: 534px){
        html { 
        height: 1450px;
        /*background-color: #2ab14a;*/
        background-image: linear-gradient(#2ab14a,white 75%);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
    
     div#bodyText p{
        width: 80%;
        position: relative;
        left: 10%;
        top: 120px;
        font-size: 14pt;
    }
      div#imgs{
        position: absolute;
        top: 630px;
    }
    div.imgbox{
        width: 55%;
        position: relative;
        left: 18%;
        float: none;
    }
}