*{
	text-align: center;
	margin: 0px;
	padding: 0px;	
    font-family: 'Lato', sans-serif;
}
body{
	background-color: #FFF;
}

section#head{
    position: absolute;
    top:  10%;
    width: 40%;
    left: 30%;
}
section#head img{
    margin-bottom: 5%;
}
section#head h3{
    font-weight: 100;
    font-size: 2.5vw;
    margin-bottom: 2%;
}
section#head h1{
    font-weight: 300;
    font-size: 2.9vw;
}

div#col1{
    position: absolute;
    top: 58%;
    left: 40%;
    width: 20%;
}
div#col1 li{
    list-style: none;
}
div#col1 a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
div#col1 a:hover{
    color: #039372;
    font-weight: 300;
}
div#col1 p{
    margin-bottom: 6%;
    font-size: 1.6vw;
}
footer{
    position: absolute;
    top: 80%;
    left: 35%;
    width: 30%;
}
footer a{
    text-decoration: none;
    color:  #039372;
}