*{
    font-family: 'Open Sans', sans-serif;
    
}
body {
    background-color: #b3dece;
    
}

p#intropara{
    position: absolute;
    left: 2%;
    top: 0%;
    width: 23%;
    padding: 8px;
    color: #2c5570;
    font-size: 11pt;
    background-color: rgba(252,252,252, .6);
}
img#dropdown{
    position: absolute;
    top: 2%;
    left: 1%;
    
}
nav img{
    position: relative;
    left: 445px;
    top: 55px;
    width: 382px;   
    z-index: 1;
}
#navtext{
    width: 382;
    height: 700px;
    position: absolute;
    left: 450px;
    top: 0%;
    z-index: 3;
    
}
#navtext a{
    font-size: 12pt;
    text-decoration: none;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 105%;
}
#navtext #p1{
    position: relative;
    width: inherit;
    left: 50px;
    top: 370px;
}
#navtext #p2{
    position: inherit;
    width: 200px;
    left: 190px;
    top: 390px;
    z-index: 3;

}
#navtext #p3{
    position: inherit;
    left: 135px;
    top: 480px;
    z-index: 3;

}

img #logo {
    position: absolute;
    left: 10%;
    bottom: 5%;
    
}

section#navtext a:hover{
    font-size: 13pt;
    
}

img#qmark{
    position: absolute;
    left: 92%;
    top: 2%;
    width: inherit;
}
section#faq{
    position: absolute;
    left: 100%;
    top: 0%;
    width: 28%;
    padding: 8px;
    margin-bottom: 20px;
    background-color: rgba(252,252,252, .75);
    z-index: 5;
}
section#faq p{
    font-size: 11pt;
    color: #2c5570;
    font-weight: 300;
    
}
section#faq .question{
    font-weight: 400;
    
}
section#faq h3{
    color: #2c5570;
    
}