*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
body {
    background-color: white;
    
}
 
/*all the stuff on the side bar*/
#sidebar{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 9%;
    height: 750px;
   background-color: white;
}

img#logo{
    position: absolute;
    left: 11%;
    top: 3%;
}
img#puzzle{
    position: absolute;
    left: 10px;
    top: 3%;
    
}
/** dealing with the navigation **/
nav{
    position: absolute;
    top: 150px;
    left: 1%;
    width: 8%;
    
}
nav p{
    font-size: 12pt;
    z-index: 8;
    line-height: 12pt;
    color: #a7a9ab;
}
nav a:link{
    text-decoration: none;
    color: #a7a9ab;
}
nav a:hover{
    font-weight: 400;
}
p#home a:hover{
    color: #b0a4be;
}
p#tools a:hover{
    color: #b0d2a9;
}
p#all a:hover{
    color: #8bcadd;
}
nav a:visited{
    color: #a7a9ab;
}
/*main content*/
section#title h2{
    position: absolute;
    width: 35%;
    top: 3%;
    left: 32.5%;
    text-align: center;
    color: #95a6d5;
   font-weight: 700;
    font-size: 2.45vw;
}

div#emptystrip{
    position: absolute;
    left: 2%;
    top: 17%;
    width: 15%;
    height: 50%;
    
}
section#spectrum{
    position: absolute;
    left: 20%;
    top: 17%;
    
}
section#spectrum img{
    float: left;
    
}
section#spectrum h3{
    color: #a7a9ab;
     font-weight: 700;
    line-height: 10pt;
}
section#spectrum a{
    text-decoration: none;
}
section#spectrum h3:hover{
    color: black;
    
}
article#categories{
    position: relative;
    float: right;
    margin-left: 15px;
    
}
article#categories h6{
    color: #a7a9ab;
    font-size: 13pt;
    font-weight: 700;
    line-height: 16pt;
}
article#categories a{
    text-decoration: none;
}
article#categories a:hover{
    color: #95a6d5;
}
section#branches a:link{
    color: #a7a9ab;
    text-decoration: none;
    
}
section#branches a:hover{
    font-size: 15pt;
    
}

section#branches{
    position:absolute;
    left: 60%;
    top: 28%;
    
}
section#branches ul{
    list-style: none;
    
}
section#branches ul li{
    color: #a7a9ab;
    font-size: 12pt;
    line-height: 30pt;
}


/* everything at the bottom of the page */
article#dept{
    position: absolute;
    left: 20px;
    top: 93%;
    
}

img#qmark{
    position: absolute;
    left: 92%;
    top: 2%;
    width: inherit;
}
section#faq{
    position: absolute;
    left: 100%;
    top: 0%;
    width: 28%;
    padding: 8px;
    margin-bottom: 20px;
    background-color: rgba(252,252,252, .75);
    z-index: 5;
}
section#faq p{
    font-size: 11pt;
    color: #2c5570;
    font-weight: 300;
    
}
section#faq .question{
    font-weight: 400;
    
}
section#faq h3{
    color: #2c5570;
    
}
